body{
  background-color: gray;
}


/*======= Interactive Solar System Model section css ========= */

#solarAnimatedSection {
  position: relative;
  width: 700px;
  height: 700px;
  right: 0;
  top: 0
}